@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease;
}
.page-enter-from,
.page-leave-to {
  transform: scale(0.9);
  opacity: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
}
.nav-link {
  @apply text-gray-500 bg-white rounded-md inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none;
}

.table-header {
  @apply px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-white dark:text-gray-500 uppercase border-b border-gray-200 bg-cyan-500 dark:bg-gray-50;
}

.table-cell {
  @apply px-6 py-4 border-b border-gray-200;
}

.select {
  @apply h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
}

.search {
  @apply appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none;
}

.btn-add {
  @apply tracking-wider text-white bg-emerald-500 py-1 px-3 text-sm rounded leading-loose mx-2 ml-auto font-semibold flex hover:opacity-90;
}
.btn-edit {
  @apply tracking-wider text-white bg-blue-400 p-2 text-sm rounded leading-loose mx-2 font-semibold flex hover:opacity-90;
}

.btn-delete {
  @apply tracking-wider text-white bg-red-400 p-2 text-sm rounded leading-loose mx-2 font-semibold flex hover:opacity-90;
}

.btn-pagination {
  @apply py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700;
}
.btn-pagination-active {
  @apply py-2 px-3 text-white bg-blue-500 border border-gray-300 hover:bg-blue-400;
}
.btn-next {
  @apply py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700;
}

.btn-prev {
  @apply py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700;
}
